html{
    margin:0px;
}
body{
    color:#fff;
    background:url("Images/footer_lodyas.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:0px;
    min-height:400px;
    height:auto:
}


@font-face{
   font-family:'Quark';
   src: url(Fonts/QuarcaCondLight.otf) format('OpenType');
        
}


a{
    text-decoration:none;
    color:gray;
}
a:hover{
    color:darkgray;
}


.picture-container img{
    border-radius:50%; 
    border:1px solid #fff;
    box-shadow:rgba(255,255,255,0.5) 0px 0px 20px; 
}
.picture-container h1{
    font-size:72px; 
    color:#ffffff;
    font-family:Segoe UI , Helvetica;
    font-weight:lighter;
}

.content-divider {
    margin-top:20px;
    background:#dddddd; 
    height:1px;
    box-shadow:rgba(255,255,255,0.5) 0px 0px 3px; 
}

#button-white{
    color: #fff;
    font-size: 17px;
    font-family: Helvetica;
    margin-top:20px; 
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 7px;
}
#button-white:hover{
    background:rgba(255,255,255,0.3);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
    color:#111;
}

.content-container {
    margin-top:150px; 
}



.nav_bar {
    margin:0px;
    width:100%;
    height:64px;
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0px;
    
}

.nav_bar_head {
    font-family:Quark;
    font-size:48px;
    margin:0px;
    margin-top:10px;
    
}

.nav_bar_header {
    width:100%;
    height:296px;
    margin-bottom:1px;
    background:url(Images/Background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}


.nav_bar_links{
    font-family:Quark; 
    margin:0px;
    width:100%;
    height:27px;
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:64px;
    text-align: center;
    color:white;
}


.nav_bar_links a{
    margin-left:20px;
    font-size:24px; 
    width:100px;
    color:white; !important
}

.nav_bar_links a:hover{
    text-shadow:#fff 0px 0px 7px;  
}



#nav_bar_link_tab {
    width:100px;
    height:27px;
}

#nav_bar_link_tab:hover{
    background:rgba(0,0,0,0.9); 
}

.content_contatiner {
    margin:0px;
    width:auto;
    min-height:200px; 
    height:auto;
    background:rgba(0,0,0,0.3);
    margin-left:10px;
    margin-right:10px; 
    margin-top:15px;
    margin-bottom:15px;
    
}

.inner_content_container{
    margin:0px;
    width:auto;
    min-height:300px; 
    height:auto;
    background:#fff;
    color:#000;
    font-family:Quark; 
}

#content_divider {
    width:auto;
    height:2px;
    margin:20px;
    background:#A1A1A1;
}

#profile_pic {
    width:128;
    height:128;
    border:5px solid rgba(0,0,0,0.5);
    z-index:2;
    margin-left:20px;
}
#profile_pic img{
    width:128px;
    height:128px; 
   
}

#about_container {
    margin-top:-96px; 
    width:auto;
    height:200px;
    border:3px solid #131313;
}

.polygon {
    position: absolute;
     
    width:300;
    height:300;
    background-color:#3498db; 
    transform:rotate(-20deg); 
    z-index:15;
    top:0;
    left:100%;
    margin-left:-80px; 
}