

html{
    margin:0px;
}
body{
    color:#fff;
    background:url("Images/footer_lodyas.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:0px;
    min-height:400px;
    height:auto:
}


@font-face{
   font-family:'Quark';
   src: url('Fonts/QuarcaCondLight.otf?#iefix') format('OpenType');
        
}


a{
    text-decoration:none;
    color:gray;
}
a:hover{
    color:darkgray;
}

button{
    height:50px;
    width:150px;
    border:1px solid #3498db;
    background:rgba(0,0,0,0);
    border-radius:30px;
    color:white;
    font-family:Helvetica;
    font-size:19px; 
}

button:hover{
    background:#3498db;
}


.picture-container img{
    border-radius:50%; 
    border:1px solid #fff;
    box-shadow:rgba(255,255,255,0.5) 0px 0px 20px; 
}
.picture-container h1{
    font-size:72px; 
    color:#ffffff;
    font-family:Segoe UI , Helvetica;
    font-weight:lighter;
}

.content-divider {
    margin-top:20px;
    background:#dddddd; 
    height:1px;
    box-shadow:rgba(255,255,255,0.5) 0px 0px 3px; 
}

#button-white{
    color: #fff;
    font-size: 17px;
    font-family: Helvetica;
    margin-top:20px; 
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 7px;
}
#button-white:hover{
    background:rgba(255,255,255,0.3);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
    color:#111;
}

.content-container {
    margin-top:150px; 
}



.nav_bar {
    margin:0px;
    width:100%;
    height:64px;
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0px;
    
}

.nav_bar_head {
    font-family:Quark;
    font-size:48px;
    margin:0px;
    margin-top:10px;
    
}

.nav_bar_header {
    width:100%;
    height:296px;
    margin-bottom:1px;
    background:url(Images/Background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    
}


.nav_bar_links{
    font-family:Quark; 
    margin:0px;
    width:100%;
    height:27px;
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:64px;
    text-align: center;
    color:white;
}


.nav_bar_links a{
    margin-left:20px;
    font-size:24px; 
    width:100px;
    color:white; !important
}

.nav_bar_links a:hover{
    text-shadow:#fff 0px 0px 7px;  
    
}



#nav_bar_link_tab {
    width:100px;
    height:27px;
}

#nav_bar_link_tab:hover{
    background:rgba(0,0,0,0.9); 
}

.content_contatiner {
    margin:0px;
    width:auto;
    min-height:200px; 
    height:auto;
    background:rgba(0,0,0,0.3);
    margin-left:25px;
    margin-right:25px; 
    margin-top:15px;
    margin-bottom:15px;
    
}

#cyanize:hover{
     background:#3498db;
}


.inner_content_container{
    margin:10px;
    width:100%;
    min-height:300px; 
    height:auto;
    background:#fff;
    font-family:Quark; 
    padding:1px;
}

#content_divider{width:auto;height:2px;margin:20px;background:#A1A1A1;}
#profile_pic {width:128;height:128;border:5px solid rgba(0,0,0,0.5);z-index:2;margin-left:20px;}
#profile_pic img{width:128px;height:128px; }
#about_container {margin-top:-96px;width:auto;height:200px;border:3px solid #131313;}
.polygon {position: absolute;width:300;height:300;background-color:#3498db;transform:rotate(-20deg);z-index:15;top:0;left:100%;margin-left:-80px;}
.nav_bar_header_alt {width:100%;height:296px;margin-top:20px; margin-bottom:1px;background:url(Images/quantum.png);background-size:cover;background-repeat:no-repeat;
                    color:white;font-family:quark;font-size:48px;}
.content_contatiner p,h1,h2,h3,h4,h5,h6{margin:10px}
.nav_bar_header_alt h1{margin:0px;}
.nav_bar_header_alt button{width:300;height:75;margin:0px;border:1px solid #ffffff;background:rgba(0,0,0,0);border-radius:15;color:white;font-family:Quark;font-size:24px;}
.nav_bar_header_alt button:hover{background:rgba(0,0,0,0.4);}
.scroll_box {z-index:9999;width:96px;height:96px;background:#3498db;position:fixed;left:92%;top:80%;float:right;display:none;
             background-image:url(Images/arrow_up.png);background-repeat:no-repeat;background-size:contain;border-radius:2px;box-shadow:rgba(0,0,0,0.5) 0px 0px
             7px;opacity:0.5;}
.scroll_box:hover{opacity:1; }

#loading_bar {
    width:300px;
    height:16px;
    background-color:#444;
    border-radius:15px; 
}

#loading_bar_inner {
    height:100%;
    border-radius:15px; 
    box-shadow:cyan 0px 0px 7px; 
    background:cyan;
}

.toast_box {
    color:#000;
    font-family:Quark; 
    width:500px;
    height:200px;
    float:left;
    background:#fff; 
    position:fixed;
    top:30%;
    left:30%;
    z-index:4;
}

#toast_box_closer {
    width:20px;
    height:20px;
    z-index:4;
    background-image: url(Images/Gliphs/closebutton_alt.png);
    background-size: cover;
}

.toast_shadow {
    width:100%;
    height:100%;
    z-index:3;
    background:rgba(0,0,0,0.5);
    float:left;
    position:fixed;
    left:0;
    top:0;
}

#menuButton {
    width:89px;
    height:89px;
    background-color:#333; 
    background-image:url(Images/Gliphs/glyph-about.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position:fixed;
    top:0;
    border:1px solid #222;
}
#menuButton:hover{
    background-color:#555; 
}
